/* Ul Reset  */
ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}
/* a Reset */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* Img Reset  */
img {
    width: 100%;
}

/* Font  */
body {
    font-family: Arial, sans-serif;
}


/* Common  */
.ms_btn-black {
    background-color: black;
    border-color: black;
    color: white;
}

.ms_btn-orange {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    color: white;
}

.ms_btn-blue {
    background-color: #2d64e6;
    border-color: #2d64e6;
    color: white;
}

.ms_btn-gray {
    color: #2d64e6;
    background-color: #d9dadc;
    border-color: #d9dadc;
}

.ms_btn-white {
    color: black;
    background-color: white;
    border-color: white;
}

/* Card  */
.ms_card {
    color: inherit;
}
.ms_card h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.ms_card p {
    margin-bottom: 30px;
}
/* ----------------------------  */


/* Header  */
header {
    position: fixed;
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
    background-color: white;
    z-index: 1;
}

/* Top  */
.header-top {
    height: 50px;
    background-color:black;
    text-align: right;
    padding: 10px 0;
}

.header-top img {
    width: 180px;
    vertical-align: middle;
}

/* Bottom  */
.header-bottom {
    height: 90px;
    padding-top: 15px;
}

.header-bottom nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
}

.chevron-down {
    width: 10px;
    display: inline-block;
    margin-left: 5px;
}

.chevron-down-hover {
    display: none;
}


/* Left  */
.header-bottom nav.nav-l {
    justify-content: flex-start;
}

header .ps-logo {
    width: 70px;
    margin-right: 10px;
} 

header .nav-l ul li {
    margin: 0 5px;
}

header .nav-l ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 70px;
}

/* Right  */
.header-bottom nav.nav-r {
    justify-content: flex-end;
    line-height: 70px;
}

.burger-icon {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 55px;
    text-align: center;
    line-height: 50px;
}

.search-icon {
    width: 30px;
    display: inline-block;
}

.menu-lg > * {
    margin: 0 5px;
}

.menu-lg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-lg a:first-child {
    font-size: 16px;
    font-weight: 500;
}


/* -----------------------------  */

/* Main  */

main {
    padding-top: 140px;
}
/* Common  */
.section-heading {
    text-align: center;
}

.section-heading h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.section-heading p {
    margin-bottom: 60px;
}

.game-container {
    margin-bottom: 30px;
    border-radius: 15px;   
}

.game-container img {
    border-radius: 15px;
}

/* Jumbo  */
.jumbo {
    color: white;
    padding-bottom: 60px;
}

.jumbo-img {
    width: 50%;
    margin-bottom: 40px;
}

/* Jumbo #1 */
main .jumbo:first-child {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 300px;
}

/* Jumbo #2 */
.jumbo2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 50px;
}

/* Jumbo #3 (ps plus) */
.jumbo-ps-plus {
    background-color: #bebcbb;
    padding-top: 50px;
    color: black;
}

/* Jumbo #4 (ps now) */
.jumbo-ps-now {
    background-color: #161c3b;
    padding-top: 50px;
    color: white;
}

/* Highlighted  */
.highlighted {
    padding-top: 40px;
}

.highlighted .selected {
    border: 2px solid #0072ce;
    padding: 3px;
}

/*  Product  */
.new-product {
    padding-top: 80px;
    padding-bottom: 50px;
    color: black;
}

.blue {
    color: #0072ce;
    text-transform: uppercase;
}

.new-product p {
    font-size: 20px;
    color: #727272;
}

/* New Product  */
.new-product .product-desc,
.new-product .product-main-img {
    margin-bottom: 40px;
}

/* Product secondary  */
.new-product .selected {
    border-bottom: 2px solid #0072ce;
}

.product-secondary {
    position: relative;
    height: 100%;
}

.ms_overlay::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.product-secondary-desc {
    text-align: center;
}

/* New releases  */
.new-releases {
    background-color: #1f1f1f;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
}

.new-releases h2 {
    font-size: 40px;
}

.new-releases p {
    font-size: 25px;
}

.new-releases .game-container img {
    margin-bottom: 10px;
}

/* Product #2  */
.product-2 {
    padding-top: 60px;
    color: black;
}

.product-2 p {
    font-size: 20px;
    color: #727272;
}

.product-2-single {
    margin-bottom: 20px;
}

/* Ps Plus Jumbo  */
.jumbo-ps-plus .jumbo-img img {
    max-width: 350px;
}

/* Sales  */
.sales {
    padding-top: 80px;
}

.sales p {
    font-size: 20px;
    color: #727272;
}

.sales-item {
    margin-bottom: 40px;
}

/* Ps Now Jumbo  */
.jumbo-ps-now .jumbo-img img {
    max-width: 350px;
}

/* Social  */
.social {
    padding-top: 60px;
    padding-bottom: 40px;
}

.social-container{
    max-width: 600px;
    margin: auto;
}

.social h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.social-img {
    margin-bottom: 30px;
}

/* ----------------- */

/* Footer  */
footer {
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #00439c;
    color: white;
    font-size: 14px;
}
/* Links  */

/* Left col  */
.link-section {
    margin-bottom: 30px;
}

.footer-logo-language {
    margin-bottom: 20px;
}

.footer-logo img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    max-width: 150px;
    margin-bottom: 20px;
}


/* Right col  */
.footer-links {
    padding-left: 30px;
}

.footer-links ul li {
    display: block;
}

.link-list {
    margin-bottom: 20px;
}

/* Copyright  */
.sie-logo {
    max-width: 140px;
    margin-bottom: 10px;
}

.copyright-text a {
    text-decoration: underline;
}
/* -------------------------  */

/* Media Query  */
@media screen and (min-width:992px) {
    
    /* Main  */
    .jumbo-img {
        width: 100%;
    }

    /* Footer  */
    .footer-links {
        padding-top: 20px;
    }
}

@media screen and (min-width:768px) {
    
    /* Main  */
    .jumbo-ps-plus .jumbo-img {
        width: 100%;
    }

    .jumbo.jumbo-ps-plus {
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .jumbo.jumbo-ps-now {
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
